<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>YourCart</title>

    <!-- Bootstrap core CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/public/css/main.css" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">ByeBuy List</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- <li><a href="#">Dashboard</a></li> -->
                    <!-- <li><a href="#">Settings</a></li> -->
                    <li><a href="#">Profile</a></li>
                    <!-- <li><a href="#">Help</a></li> -->
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                    <li><a href="https://shopee.tw/">Shopee 蝦皮</a></li>
                    <li><a href="https://online.carrefour.com.tw/">家樂福</a></li>
                    <li><a href="https://tw.buy.yahoo.com/">Yahoo 購物中心</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="https://www.tenlong.com.tw/">天瓏書局</a></li>
                    <li><a href="https://www.eslite.com/">誠品書局</a></li>
                    <li><a href="https://www.sanmin.com.tw/">三民書局</a></li>
                    <li><a href="https://www.cavesbooks.com.tw/EC/">敦煌書局</a></li>
                    <li><a href="https://www.kingstone.com.tw/">金石堂</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="https://www.inpad.com.tw/">硬派精璽</a></li>
                    <li><a href="https://www.pcparty.com.tw/">Pcparty</a></li>
                    <li><a href="http://www.armygroup.com.tw/shop/">改裝軍團</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <h2 class="sub-header">編輯商品</h2>
                <form action="/items/edit" method="post">
                    <input type="hidden" name="id" value="{{ item.id }}">
                    <div class="form-group">
                        <label for="">itemName</label>
                        <input type="text" class="form-control" id="" name="itemName" required maxlength="20"
                            value="{{item.itemName}}">
                    </div>
                    <div class="form-group">
                        <label for="">shopName</label>
                        <input type="text" class="form-control" id="" name="shopName" required maxlength="20"
                            value="{{item.shopName}}">

                    </div>
                    <div class="form-group">
                        <label for="">website</label>
                        <input type="text" class="form-control" id="" name="website" required maxlength="100"
                            value="{{item.website}}">
                    </div>
                    <div class="form-group">
                        <label for="">price</label>
                        <input type="number" class="form-control" id="" name="price" value="{{item.price}}">

                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>

            </div>
        </div>
    </div>


</body>

</html>